.container-card {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-comic img {
  width: 400px;
  border-radius: 10px;
  object-fit: contain;
  margin-bottom: 30px;
}

.comic-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.comic-description {
  text-align: center;
  font-weight: 500;
}

.container-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.container-btn button {
  width: 100px;
}

.search {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.search input {
  height: 50px;
  width: 500px;
  background-color: #082a3e;
  border: 2px solid white;
  border-radius: 10px;
}
