@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'BADABB';
  src: url('./assets/fonts/BADABB__.TTF') format('truetype');
}

body {
  background-color: #082a3e;
  font-family: 'Inter', sans-serif;
}

/* MAIN */

.container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.container-loading {
  width: 1200px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: 'BADABB', sans-serif;
  letter-spacing: 6px;
}
/* CARD */

.card {
  border: 1px solid white;
  margin-bottom: 30px;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card img {
  height: 250px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.card p {
  text-align: justify;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* CHARACTER */

.link-character {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container-character {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  gap: 20px;
  padding: 10px;
}

.character-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-character img {
  width: 400px;
  border-radius: 10px;
  object-fit: contain;
  margin-bottom: 30px;
}

.character-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'BADABB', sans-serif;
  letter-spacing: 4px;
}

.character-movie {
  margin-bottom: 15px;
  list-style: disc;
}

/* COMIC */

.link-comic {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container-comic {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-comic img {
  width: 400px;
  border-radius: 10px;
  object-fit: contain;
  margin-bottom: 30px;
}

.comic-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.comic-description {
  text-align: center;
  font-weight: 500;
}

.container-card {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-evenly;
  overflow: scroll;
}
.main-btn {
  border-radius: 20px;
  width: 90px;
  background-color: #082a3e;
  color: white;
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
}

button {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 20px;
  background-color: #082a3e;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.active {
  border: 2px solid red;
  cursor: pointer;
}

.container-comics {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.search input {
  height: 50px;
  width: 500px;
  background-color: #082a3e;
  border: 2px solid white;
  border-radius: 10px;
}

input {
  padding: 10px;
  color: white;
  font-size: 20px;
}
