@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'BADABB';
  src: url('./assets/fonts/BADABB__.TTF') format('truetype');
}

body {
  background-color: #082a3e;
  font-family: 'Inter', sans-serif;
}

/* MAIN */

.container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.container-loading {
  width: 1200px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: 'BADABB', sans-serif;
  letter-spacing: 6px;
}

button {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 20px;
  background-color: #082a3e;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}
