@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #082a3e;
  font-family: 'Inter', sans-serif;
}

/* HEADER */

header {
  height: 80px;
  width: 100%;
  background-color: #082a3e56;
  border-bottom: 1px solid rgba(201, 201, 201, 0.373);
  display: flex;
}

.container-header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.link-logo {
  cursor: pointer;
}

.container-header img {
  width: 150px;
}

.navigation-menu {
  display: flex;
  gap: 50px;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}

.menu-item {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.favs {
  display: flex;
  align-items: center;
}

/* MAIN */

.container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-loading {
  width: 1200px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.hero-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: white;
}

.hero-img {
  position: relative;
}

.hero-img img {
  opacity: 0.7;
}

h1 {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-size: 48px;
  font-weight: bold;
}

/* CARD */

.card {
  border: 1px solid white;
  margin-bottom: 30px;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card img {
  height: 250px;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: contai;
}

.card h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.card p {
  text-align: justify;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* CHARACTER */

.link-character {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container-character {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-character img {
  width: 400px;
  border-radius: 10px;
  object-fit: contain;
  margin-bottom: 30px;
}

.character-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.character-movie {
  margin-bottom: 15px;
  list-style: disc;
}

/* COMIC */

.link-comic {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container-comic {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-comic img {
  width: 400px;
  border-radius: 10px;
  object-fit: contain;
  margin-bottom: 30px;
}

.comic-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.comic-description {
  text-align: center;
  font-weight: 500;
}
